*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    height: 10vh;
    padding-left: 10px;
}

header p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
    height: 60%;
    width: 40px;
}

header p:hover{
    color: aliceblue;
    cursor: pointer;
    background-color: black;

}

header i{
    font-size: 20px;
    padding: 5px;
    border-radius: 30px;
    padding-left: 5px 5px;
    
}

header i:hover{
    cursor: pointer;

}


.buscador{
    background-image:url(imagenes/lupa.png) ;
    background-size: 20px 20px;
    background-position: 5px 3px;
    background-repeat: no-repeat;
    position: relative;
    width: 72%;
    font-size: 20px;
    height: 50;
    padding-left: 30px;
    border-radius: 20px;
    border: 1px solid black
    
}

.lupita{
    position: absolute;
    top: calc(50%);
    left: calc(0% + 20px);
}

.logopinterest{
    height: 60%;
    transition: 0.5s;

}

.logopinterest:hover{
    cursor: pointer;
    height: 80%;
    
}

.perfil{
    height: 70%; 
    transition: 0.5s;
    border-radius: 50%;
    padding-left: 7px 7px;
    
} 

.perfil:hover{
    cursor: pointer;
    height: 85%;
    
}

main{

    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2px;
    row-gap: 15px;
    padding: 40px;
    
    }
    
    img{
        width: 270px;
        height: 270px;
        object-fit: contain;
        border-radius: 500px;
    }

.grid-container:hover{
    cursor: pointer;
    height: 70%;


}




